@model IEnumerable<EMS_APP.Models.employeeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee Master Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.deptName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                  @*  <button asp-controller="Employees" asp-action="Edit" asp-route-id="@item.id" type="button" class="btn btn-secondary">Edit</button>
                    <button asp-controller="Employees" asp-action="Details" asp-route-id="@item.id" method= type="button" class="btn btn-warning">Details</button>
                    <button asp-controller="Employees" asp-action="Delete" asp-route-id="@item.id" method= type="button" class="btn btn-danger">Delete</button>*@
            </td>
        </tr>
}
    </tbody>
</table>
